# IDE 관련 파일
.classpath
.project
.settings/
.factorypath
.idea/
*.iml

# 빌드 도구 관련 파일
target/
build/
bin/
*.log
*.war
*.ear
*.jar

# 스프링 부트 실행 파일
*.jar

# 임시 파일 및 디렉토리
*.log
*.tmp
*.swp


# 스프링 부트 애플리케이션 설정 파일
application*.properties
application*.yml

# 스프링 부트의 로그 디렉토리
logs/

#이 파일들은 Mac OS X에서 생성되는 임시 파일입니다. 
.DS_Store

