<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Thymeleaf Example</title>
    
    <!-- 이 스크립트는 Livereload 서버에 연결하고 변경사항이 감지될 때마다 페이지 새로 고침을 트리거합니다. -->
	<!-- https://www.youtube.com/watch?v=A109ZrIHPiQ 참조 -->
	<script src="http://localhost:35729/livereload.js"></script>
	
</head>

<body>

    <!-- th:text 안에 공백이 들어가면 안 -->
   	<h3 th:text="swagger-Home"></h3>
   	<a href="/swagger-ui/index.html">/swagger-ui/index.html</a>

   	<h3 th:text="show-endpoints"></h3>
   	<a href="/showendpoints">/showendpoints</a>


   	<h3 th:text="'mysql/user/all'"></h3>
   	<a href="/mysql/user/all">/mysql/user/all</a>
   	
   	<h3 th:text="'mysql/user/{id}'"></h3>
   	<a href="/mysql/user/{id}">/mysql/user/{id}</a>


   	<h3 th:text="'h2/members'"></h3>
   	<a href="/h2/members">/h2/members</a>
   	
   	<h3 th:text="'h2/members/1'"></h3>
   	<a href="/h2/members/1">/h2/members/1</a>
   	
   	<h3 th:text="'h2-console'"></h3>
   	<a href="/h2-console">/h2-console</a>
</body>

</html>