<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Endpoint 리스트</title>
	
	<!-- 이 스크립트는 Livereload 서버에 연결하고 변경사항이 감지될 때마다 페이지 새로 고침을 트리거합니다. -->
	<!-- https://www.youtube.com/watch?v=A109ZrIHPiQ 참조 -->
	<script src="http://localhost:35729/livereload.js"></script>
	
	<style>
		table {
			border-collapse: collapse;
			width: auto;
		}
		
		th, td {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}
		
		th {
			background-color: #f2f2f2;
		}
	</style>
</head>

<body>
	<h2>[Endpoint 리스트]</h2>

	<table border="1">
		<thead>
			<tr>
				<th>Method</th>
				<th>Endpoint Pattern</th>
				<th colspan="4">Request Info</th>
			</tr>
		</thead>
		<tbody>
            <tr th:each="endpointArray : ${endpointList}">
                <td th:text="${endpointArray[0]}"></td>
				<td>
				    <a th:href="@{(${endpointArray[1]})}" th:text="${endpointArray[1]}">Link Text</a>
				</td>
				<td th:text="${endpointArray[2]}"></td>
				<td th:text="${endpointArray[3]}"></td>
				<td th:text="${endpointArray[4]}"></td>
				<td th:text="${endpointArray[5]}"></td>
            </tr>
		</tbody>
	</table>
</body>

</html>