<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Endpoint 리스트</title>
	
	<!-- 이 스크립트는 Livereload 서버에 연결하고 변경사항이 감지될 때마다 페이지 새로 고침을 트리거합니다. -->
	<!-- https://www.youtube.com/watch?v=A109ZrIHPiQ 참조 -->
	<script src="http://localhost:35729/livereload.js"></script>
	
	<style>
		table {
			border-collapse: collapse;
			width: 100%;
		}
		
		th, td {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}
		
		th {
			background-color: #f2f2f2;
		}
	</style>
</head>

<body>
	<h2>[Endpoint 리스트]</h2>

	<table border="1">
		<thead>
			<tr>
				<th>Endpoint Pattern</th>
				<th>Request Method</th>
				<th>Request Info</th>
			</tr>
		</thead>
		<tbody>
			<!-- Iterate over the entries -->
            <tr th:each="endpointArray : ${endpointList}">
                <!-- Display each item in the endpointArray -->
                <td th:each="item : ${endpointArray}" th:text="${item}"></td>
            </tr>
		</tbody>
	</table>
</body>

</html>