<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Endpoint 리스트</title>
	
	<!-- 이 스크립트는 Livereload 서버에 연결하고 변경사항이 감지될 때마다 페이지 새로 고침을 트리거합니다. -->
	<!-- https://www.youtube.com/watch?v=A109ZrIHPiQ 참조 -->
	<script src="http://localhost:35729/livereload.js"></script>
	
	<link rel="stylesheet" href="/css/styles.css">
	
	<!-- jQuery 라이브러리를 포함시킵니다 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    
    <script src="/js/main.js"></script>
    
</head>

<body>
	<h2>[Endpoint 리스트]</h2>

	<table border="1" class="show_endpoint" >
		<thead>
			<tr>
				<th>Endpoint</th>
				<th>Method</th>
				<th>Class</th>
				<th>Return Type</th>
				<th>Function</th>
				<th>Parameter</th>
			</tr>
		</thead>
		<tbody>
            <tr th:each="endpointArray : ${endpointList}">
				<td>
				    <a th:href="@{(${endpointArray[0]})}" th:text="${endpointArray[0]}"></a>
				</td>
                <td th:text="${endpointArray[1]}"></td>
				<td>
				    <u th:text="${endpointArray[2]}"></u>
				</td>
				<td th:text="${endpointArray[3]}"></td>				
				<td>
				    <u th:text="${endpointArray[4]}"></u>
				</td>
				<td th:text="${endpointArray[5]}"></td>
            </tr>
		</tbody>
	</table>
</body>

</html>